<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application android:theme="@style/AppTheme" android:label="ChatGPT WebView Probe Stable" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".CapabilitySuiteActivity" android:exported="false" />
        <activity android:name=".AttachmentSendActivity" android:exported="false" />
        <activity android:name=".DirectAttachmentActivity" android:exported="false" />
        <activity android:name=".ResourceSuiteActivity" android:exported="false" />
        <activity android:name=".ResourceSuiteV10Activity" android:exported="false" />
        <activity android:name=".ResourceSuiteV10FinalActivity" android:exported="false" />
        <activity android:name=".AudioModelSuiteV11Activity" android:exported="false" />
        <activity android:name=".AudioModelSuiteV11FinalActivity" android:exported="false" />
        <activity android:name=".AudioCaptureDiagV12Activity" android:exported="false" />
        <activity android:name=".AudioEarlyTraceV13Activity" android:exported="false" />
        <activity android:name=".AudioFixVisibleActivityV14Activity" android:exported="false" />
        <activity android:name=".OrchestratorFoundationV15Activity" android:exported="false" />
        <activity android:name=".OrchestratorFoundationV16Activity" android:exported="false" />
        <activity android:name=".OrchestratorFoundationV17Activity" android:exported="false" />
        <activity android:name=".OrchestratorFoundationV18Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV19Activity" android:exported="false" />
        <activity android:name=".OrchestratorSemanticFingerprintV20Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV21Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV22Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV23Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV24Activity" android:exported="false" />
        <activity android:name=".OrchestratorReadyStartCensusV25Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV26Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV27Activity" android:exported="false" />
        <activity android:name=".OrchestratorAutonomousV28Activity" android:exported="false" />
        <activity android:name=".OrchestratorVoicePostStartCensusV29Activity" android:exported="false" />
        <activity android:name=".OrchestratorVoiceSupervisorV30Activity" android:exported="false" />
        <activity android:name=".OrchestratorCapabilityPickerV31Activity" android:exported="false" />
        <activity android:name=".OrchestratorAuthModeV32Activity" android:exported="false" />
        <activity android:name=".OrchestratorAuthModeV33Activity" android:exported="false" />
        <activity android:name=".OrchestratorAuthModeV34Activity" android:exported="false" />
        <activity android:name=".OrchestratorPaidModelTriggerCensusV35Activity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
